<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS"
        android:maxSdkVersion="35"/>
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"
        android:maxSdkVersion="35"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- 새 권한: 최신 워치 / OS용 (워치6 대응) -->
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <uses-library
            android:name="wear-sdk"
            android:required="false" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.SliveGuardWear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".presentation.service.VitalsService"
            android:exported="false"
            android:foregroundServiceType="health"/>
<!--            android:foregroundServiceType="connectedDevice"/>-->
    </application>

</manifest>